* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../src/assets/paint-background.jpg"); 
  width: 100%;
  height: 100%;
  background-position: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
}

.navbg {
  background: rgba(255, 255, 255, 0.2);
  position: sticky;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}
